.main {
    background-image: linear-gradient(to right,
        #172b4a 0%,
        #164973 15%,
        #236282 50%,
        #164973 85%,
        #172b4a 100%);
    background-size: cover;
}

.titletext:hover {
    text-decoration: underline;
}

.topbar {
    background-color: #2e2e2e;
    padding-left: 100%;
    padding-top: 0%;
    position: absolute;
    resize: horizontal;
    height: 6%;
    top: 0%;
    left: 0%;
    z-index: -1;
    box-shadow: 0 1px 2px #222222,
    inset 0 -1px 1px rgba(0, 0, 0, 0.5);
}

.title {
    color: rgb(240, 248, 255);
    text-decoration: none;
    margin: 0%;
    top: 0.4%;
    left: 3.5%;
    font-size: 250%;
    cursor: default;
    z-index: 1;
}

.team {
    color: rgb(240, 248, 255);;
    top: 2.7%;
    left: 13%;
    font-size: 100%;
    cursor: default;
    z-index: 1;
}

#titletext {
    position: inherit;
}

.menu {
    height: 2.5%;
    width: 2.5%;
    position: inherit;
    top: 2%;
    left: -0.2%;
    cursor: pointer;
    z-index: 1;
}